.footer {
  background-color: #2B2B2B;;
  &__row {
    display: flex;
    height: 140px;
    align-items: center;
    justify-content: center;
    padding: 0 60px;

    @include breakpoint(lg){
      overflow-x: scroll;
      overflow-y: hidden;
      white-space:nowrap;
      padding: 0 20px;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include breakpoint(lg){
      column-gap: 20px;
    }

  }

  &__item {
    &:last-child{
      @include breakpoint(md){
        padding-right: 20px;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #BBBBBB;
    display: inline-block;
    //position: relative;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: .3s ease-in-out;

    &:visited{
      color:#bbbbbb;
    }
    &:hover{
      border-bottom: 1px solid #BBBBBB;
    }
  }
}