.header{
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include breakpoint(md){
    background: linear-gradient(0deg, rgba(29, 28, 26, 0.8), rgba(29, 28, 26, 0.8)), url("../img/hero-bg.jpg");
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px 0;
  z-index: 2;

  @include breakpoint(md){
    position: fixed;
    width: 100%;
    z-index: 100;
  }
}
.nav__logo-link{
  display: flex;
}

.nav__logo-txt{
  color:#fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  max-width: 120px;
  margin-left: 5px;

  &:visited{
    color: #fff;
  }
  @include breakpoint(md){
    display: none;
  }
}
.nav__logo-txt-sm{
  color:#fff;
  font-weight: 700;
  display: none;
  align-items: center;
  max-width: 120px;
  margin-left: 5px;

  &:visited{
    color: #fff;
  }
  @include breakpoint(md){
    display: flex;
  }
}


.hamburger {
  display: none;

  @include breakpoint(md){
    display: block;
    cursor: pointer;
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}


.nav__menu {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  flex-wrap: nowrap;

  &.active{
    @include breakpoint(md){
      /*position: relative;
      z-index: 15;*/
      padding-bottom: 5rem;
      left: 0;
      height: 100%;
      justify-content: start;
      background-color: #3c3b3a;
    }
  }

  @include breakpoint(lg){
    column-gap: 20px;
  }

  @include breakpoint(md){
    justify-content: start;
    height: 100%;
    position: fixed;
    left: -100%;
    top:$navHeight + $aboveNavContentHeight;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);

    &.active{
      left:0;
    }
  }
}

.nav__item {
  white-space:nowrap;

  @include breakpoint(md){
    margin:1.5rem 0;
    font-size: 1.5rem;
  }
}

.nav__link{
  color: #fff;
  transition: .3s ease-in-out;
  position: relative;

  &:after{
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    display: inline-block;
    background-color: #b92834;
    content: '';
    width: 0;
    transition: .3s ease-in-out;
  }
  &:hover{
    color: #b92834;

    &:after{
      width:100%;
    }
  }
  /*&:visited{
    color:#fff;
  }*/
}

.nav__logo {

}
.section-1 > .content{
  @include breakpoint(md){
    padding-top: $navHeight + $aboveNavContentHeight;
  }
}


.hero {
  padding: 102px 0 276px;

  //padding-bottom: calc(100vw/);
  @include breakpoint(md){
    position: relative;
    padding: 102px 25px 200px;
  }

  @include breakpoint(sm){
    padding: 102px 15px 200px;
  }

  &__row {
    position: relative;

    @include breakpoint(md){
      position: unset;
    }
  }

  &__bg-images {
    position: absolute;
    max-width: 558px;
    max-height: 576px;
    width: calc(100vw / 2.28);
    height: calc(100vw / 2.208);
    right: 0;

    @include breakpoint(sm){
      right: 0;
      width: 100%;
      bottom: 25px;
    }

    .hero__bg-img{
      position: absolute;
    }
    .hero__bg-images-inner{
      position: relative;
      width: 100%;
      height: 100%;

      @include breakpoint(sm){
        height: calc(100vw / 0.979);
      }
    }
    .hero__bg-img-1{
      z-index: 1;
      left: 0;
      bottom: 0;
      max-width: 300px;
      max-height: 300px;
      width: calc(100vw / 4.24);
      height: calc(100vw / 4.24);
      filter: drop-shadow(4px 7px 30px rgba(0, 0, 0, 0.25));

      @include breakpoint(sm){
        width: calc(100vw / 1.856);
        height: calc(100vw / 1.856);
        bottom: 0;
        max-width: 202px;
        max-height: 202px;
      }

    }
    .hero__bg-img-2{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      max-width: 525px;
      max-height: 516px;
      width: calc(100vw / 2.465);
      height: calc(100vw / 2.422);


      @include breakpoint(sm){
        width: calc(100vw / 1.06);
        height: calc(100vw / 1.08);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
  }

  &__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 400px;
    margin:32px 0 56px;
  }

  &__btn-wrapper {
    display: flex;
    column-gap: 24px;

    @include breakpoint(sm){
      column-gap: 10px;
    }
  }

  &__btn {
    width: 184px;
    height: 44px;

  }
}