@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: $maxWidth;
  margin: 0 auto;


}
.content__outer{
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;

  &.lock{
      overflow: hidden;
  }
}
.red-txt{
  color:#AB242F;
}

.unselectable{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.redline{
  background-color: red;
  height: 2px;
  width: 100%;
}

.redline-wrapper{
  position: absolute;
  width: 100%;

  @include breakpoint(md){
    display: none;
  }
}

.side-padding{
  @include breakpoint(lg){
    padding-left: 25px;
    padding-right: 25px;
  }
  @include breakpoint(md){
    padding-left: 15px;
    padding-right: 15px;
  }
}