h1{
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
  color: #FFFFFF;
  max-width: 755px;
  @include fluid-type(375px, 1272px, 64px, 96px);
}
h2{
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  color: #1D1C1A;
  @include fluid-type(320px, 1272px, 34px, 48px);
}