<section class="academy">
    <div class="content">
        <div class="academy__row">
            <div class="academy__header">
                <h2 class="academy__title">Why study with <span class="red-txt">BA Academy</span></h2>
                <span class="academy__desc">BA Academy is for students who want real world training
                    from industry professionals. We call this the RMIT
                    Online edge. Get ready to sharpen those skills.
                </span>
            </div>
            <div class="academy__body">
                <div class="academy__col academy__col--left">
                    <div class="academy__card">
                        <div class="academy__img-wrapper">
                            <img class="academy__card-img" src="img/head.png" alt="head">
                        </div>
                        <div class="academy__txt-content">
                            <div class="academy__card-title">
                                Digital credential
                            </div>
                            <div class="academy__card-txt">
                                The cutting-edge skills you’ll learn are rigorously assessed and recognised by both a
                                leading university and key employers in the field of study through a digital credential.
                            </div>
                        </div>
                    </div>
                    <div class="academy__card">
                        <div class="academy__img-wrapper">
                            <img class="academy__card-img" src="img/hand.png" alt="hand">
                        </div>
                        <div class="academy__txt-content">
                            <div class="academy__card-title">
                                Digital credential
                            </div>
                            <div class="academy__card-txt">
                                Our project-based assessments mean you’ll roll up your sleeves and create a project for
                                real a world business scenario, allowing you see the immediate impact of your learning
                                within your organisation.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="academy__col-wrapper">
                    <div class="academy__col academy__col--right">

                        <div class="academy__card">
                            <div class="academy__img-wrapper">
                                <img class="academy__card-img" src="img/connect.png" alt="connect">
                            </div>
                            <div class="academy__txt-content">
                                <div class="academy__card-title">
                                    Connect with industry
                                </div>
                                <div class="academy__card-txt">
                                    Our courses are designed with high profile partners to ensure you’re job ready, learning
                                    practical skills that align with industry best practice.
                                </div>
                            </div>
                        </div>

                        <div class="academy__card">
                            <div class="academy__img-wrapper">
                                <img class="academy__card-img" src="img/flexibility.png" alt="flexibility">
                            </div>
                            <div class="academy__txt-content">
                                <div class="academy__card-title">
                                    100% flexible learning
                                </div>
                                <div class="academy__card-txt">
                                    The freedom of online learning means you can study whenever you want, wherever you want,
                                    in a manner that suits your work and lifestyle.
                                </div>
                            </div>
                        </div>

                        <div class="academy__card">
                            <div class="academy__img-wrapper">
                                <img class="academy__card-img" src="img/experience.png" alt="experience">
                            </div>
                            <div class="academy__txt-content">
                                <div class="academy__card-title">
                                    Collaborative online experience
                                </div>
                                <div class="academy__card-txt">
                                    Never feel like you’re studying alone and feel supported with our team of expert industry
                                    mentors, SMEs, and the learner success team.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>