<section class="advantages">
    <div class="content__outer">
        <div class="content">
            <div class="advantages__row">
                <div class="advantages__header side-padding">
                    <h2 class="advantages__title">Who this course is <span class="red-txt">for</span></h2>
                    <div class="redline-wrapper advantages__redline">
                        <div class="redline"></div>
                    </div>
                </div>
                <div class="advantages__body">
                    <div class="advantages__general side-padding">
                        <span class="advantages__main-title">Our Business Analyst course is ideal for: </span>
                        <div class="advantages__categories">
                            <p class="advantages__cat-paragraph">
                                <span class="advantages__bold-txt">Early and mid-career IT and business professionals
                                </span> looking to gain proficiency and close knowledge gaps in order to transition
                                towards becoming a business analyst.
                            </p>
                            <p class="advantages__cat-paragraph">
                                <span class="advantages__bold-txt">Mid-level professionals from business analyst
                                    adjacent roles</span> looking to develop the skills to effectively work with
                                multidisciplinary teams. You’ll most likely be, but are not limited to, a quality
                                assurance tester, product manager, digital marketer, solutions architect, UX designer,
                                or consultant.
                            </p>
                        </div>
                    </div>
                    <div class="advantages__bottom-rd-wrapper">
                        <div class="advantages__bottom-redline"></div>
                    </div>
                    <div class="advantages__details">
                        <div class="advantages__details-bg"></div>
                        <div class="advantages__details-content">
                            <div class="advantages__details-title">Key details</div>
                            <div class="advantages__details-grid">
                                <div class="advantages__details-commitment advantages__card">
                                    <div class="advantages__card-title">Time commitment:</div>
                                    <div class="advantages__card-body">
                                        100% online, 6 weeks, approximately 8 hours per week
                                    </div>
                                </div>
                                <div class="advantages__details-price advantages__card">
                                    <div class="advantages__card-title">Course price:</div>
                                    <div class="advantages__card-body">$990 GST incl.</div>
                                </div>
                                <div class="advantages__cards advantages__card">
                                    <div class="advantages__details-level">
                                        <div class="advantages__card-title">Prerequisites/level of study</div>
                                        <div class="advantages__card-body">There are no prerequisites.</div>
                                    </div>
                                    <div class="advantages__details-enrolment">
                                        <div class="advantages__card-title">Enrolment:</div>
                                        <div class="advantages__card-body">You can enrol at any time, the whole process only
                                            takes a few minutes.
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages__methods advantages__card">
                                    <div class="advantages__card-title">Method of study:</div>
                                    <div class="advantages__card-body">Online study, including interactive videos,
                                        assignments, prescheduled webinars, and a 1:1 online session with
                                        mentors and industry experts.</div>
                                </div>
                            </div>
                            <button class="advantages__btn glob__btn glob__btn--red">Enroll</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>