<section class="choice">
    <div class="content__outer">
        <div class="content">
            <div class="choice__row">
                <div class="choice__header">
                    <div class="choice__img-block">
                        <div class="choice__img"></div>

                        <div class="choice__title choice__title--left">
                            <h2 class="choice__img-title">Choosing<br/> for you</h2>
                        </div>
                    </div>
                    <div class="choice__skills">
                        <div class="choice__title-lg side-padding">
                            <h2 class="choice__title-lg">Choosing the right course <span class="red-txt">for you</span></h2>
                        </div>
                        <div class="choice__title choice__title--right">
                            <h2 class="choice__img-title">the right course<br/></h2>
                        </div>
                        <h2 class="choice__title-plug"></h2>
                        <div class="choice__txt side-padding">
                            <p class="choice__paragraph">
                                At RMIT Online, you can choose from a range of courses designed for the future of work.
                                In the area of business analysis and analytics, we have a number of options depending on
                                your objectives. Our Business Analyst course will provide you with the behaviourial,
                                technical, and Agile skills to translate business requirements into the right buildable
                                solutions. Our two business analytics courses are in a different skill area, Business
                                Analytics and Visualisation and Business Analytics with SQL and Python.
                            </p>
                            <p class="choice__paragraph">These courses will provide you with the skills to obtain,
                                clean, and present data to drive useful organisational predictions and insights. </p>
                        </div>
                    </div>
                </div>
                <div class="choice__cards">
                    <div class="choice__card">
                        <div class="choice__card-title">
                            Objective
                        </div>
                        <div class="choice__card-body">
                            <p class="choice__card-txt">
                                Gain the human, technical, and Agile skills to facilitate
                                and communicate business requirements into buildable
                                processes and solutions.
                            </p>
                        </div>
                    </div>
                    <div class="choice__card">
                        <div class="choice__card-title">
                            What you’ll learn
                        </div>
                        <div class="choice__card-body">

                            <ul class="choice__card-list">
                               <li class="choice__card-item"><span class="choice__item-marker"></span>
                                   <span class="choice__item-txt">Break down business problems into requirements
                                   that facilitate the resolution of conflicting needs and reflect contemporary ways of
                                   working</span>
                               </li>
                               <li class="choice__card-item"><span class="choice__item-marker"></span>
                                   <span class="choice__item-txt">Critically analyse cognitive and behavioural skills
                                   relevant to business analysis and apply those skills to engaging with business and
                                       technical stakeholders</span>
                               </li>
                               <li class="choice__card-item"><span class="choice__item-marker"></span>
                                   <span class="choice__item-txt">Illustrate the business analysis process to stakeholders
                                       and justify how the process and findings create business value</span>
                               </li>
                            </ul>
                        </div>
                    </div>
                    <div class="choice__card">
                        <div class="choice__card-title">
                            Course outcome
                        </div>
                        <div class="choice__card-body">
                            <p class="choice__card-txt">
                                By the end of this course, you’ll be able to:
                            </p>
                            <ul class="choice__card-list">
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Assess business problems</span>
                                </li>
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Conduct root cause analysis</span>
                                </li>
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Gather, classify, and prioritise requirements</span>
                                </li>
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Create process maps</span>
                                </li>
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Break down work using Agile methods</span>
                                </li>
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Write user stories</span>
                                </li>
                                <li class="choice__card-item"><span class="choice__item-marker"></span>
                                    <span class="choice__item-txt">Effectively present their findings to stakeholders
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>