<section class="dark">
  <div class="content">
    <div class="dark__row">
      <h2 class="dark__title">Cras nunc quam enim, aliquam tellus faucibus</h2>
      <div class="dark__btn glob__btn glob__btn--red">enroll</div>
    </div>
  </div>
</section>