<section class="education">
  <div class="content__outer">
  <div class="content">
    <div class="education__row">
      <div class="education__header">
        <h2 class="education__title">What you’ll <span class="red-txt">learn</span></h2>
        <div class="redline-wrapper education__redline">
          <div class="redline"></div>
        </div>
      </div>
      <div class="education__accordion">
        <div class="education__accordion-item unselectable ">
          <button class="education__btn">
            <span class="education__btn-title">MODULE 1</span>
            <p class="education__btn-txt">What does a business analyst actually do? </p>
            <span class="education__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </button>
          <div class="education__panel-wrapper">
            <div class="education__panel">
              <div class="education__panel-body">
                <ul class="education__panel-list">
                  <li class="education__panel-item">Understand the prevalent methods used in business analysis
                    including the importance of Agile and the Agile Manifesto</li>
                  <li class="education__panel-item">Consult with stakeholders to understand a business’ current
                    state and conduct a root cause analysis</li>
                  <li class="education__panel-item">Map your current state and understand the user journey</li>
                </ul>
              </div>
              <div class="education__panel-footer">
                Milestone: Choose from one of two scenarios to update your
                actor list, process map, and user journey map following the
                feedback received
              </div>
            </div>
          </div>
        </div>
        <div class="education__accordion-item unselectable">
          <button class="education__btn">
            <span class="education__btn-title">MODULE 2</span>
            <p class="education__btn-txt">Core communication skills and requirement gathering</p>
            <span class="education__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </button>
          <div class="education__panel-wrapper">
            <div class="education__panel">
              <div class="education__panel-body">
                <ul class="education__panel-list">
                  <li class="education__panel-item">Understand the prevalent methods used in business analysis
                    including the importance of Agile and the Agile Manifesto</li>
                  <li class="education__panel-item">Consult with stakeholders to understand a business’ current
                    state and conduct a root cause analysis</li>
                  <li class="education__panel-item">Map your current state and understand the user journey</li>
                </ul>
              </div>
              <div class="education__panel-footer">
                Milestone: Choose from one of two scenarios to update your
                actor list, process map, and user journey map following the
                feedback received
              </div>
            </div>
          </div>
        </div>
        <div class="education__accordion-item unselectable">
          <button class="education__btn">
            <span class="education__btn-title">MODULE 2</span>
            <p class="education__btn-txt">Core communication skills and requirement gathering</p>
            <span class="education__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </button>
          <div class="education__panel-wrapper">
            <div class="education__panel">
              <div class="education__panel-body">
                <ul class="education__panel-list">
                  <li class="education__panel-item">Understand the prevalent methods used in business analysis
                    including the importance of Agile and the Agile Manifesto</li>
                  <li class="education__panel-item">Consult with stakeholders to understand a business’ current
                    state and conduct a root cause analysis</li>
                  <li class="education__panel-item">Map your current state and understand the user journey</li>
                </ul>
              </div>
              <div class="education__panel-footer">
                Milestone: Choose from one of two scenarios to update your
                actor list, process map, and user journey map following the
                feedback received
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>