<section class="enrolment">
    <div class="content">
        <div class="enrolment__row">
            <div class="enrolment__txt">
                <h2 class="enrolment__title">Enrolment</h2>
                <p class="enrolment__desc">You can enrol online at any time. <br/>
                    The whole process only takes few minutes.</p>
                <button class="enrolment__btn glob__btn glob__btn--red">enroll now</button>
            </div>
            <div class="enrolment__images">
                <div class="enrolment__img-big">
                    <!--<img src="img/enroll-bg-big.jpg" alt="Background image" class="enrolment__img-big">-->
                </div>
                <div class="enrolment__img-small">
                    <!--<img src="img/enroll-bg-small.jpg" alt="Background image" class="enrolment__img-small">-->
                </div>
            </div>
        </div>
    </div>
</section>