<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FOOTER</a>
                </li>
            </ul>
        </div>
    </div>
</footer>