<header class="header">
    <div class="content">
        <nav class="nav">
            <a href="#" class="nav__logo-link">
                <img src="img/logo.png" alt="" class="nav__logo">
                <span class="nav__logo-txt">Business Analyst Academy</span>
                <span class="nav__logo-txt-sm">Academy</span>
            </a>
            <ul class="nav__menu hide-scrollbar">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About Course</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Enroll</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Mentors</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Course Schedule</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Blog</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact Us</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </div>
        </nav>
        <div class="hero">
            <div class="hero__row">
                <div class="hero__bg-images">
                    <div class="hero__bg-images-inner">

                        <img class="hero__bg-img hero__bg-img-1" src="img/hero-1.jpg" alt="">
                        <img class="hero__bg-img hero__bg-img-2" src="img/hero-23.png" alt="">
<!--                            <img class="hero__bg-img hero__bg-img-3" src="img/hero-3.jpg" alt="">-->
                    </div>
                </div>
                <div class="hero__content">
                    <h1 class="hero__title">Digital Business Analyst</h1>
                    <div class="hero__desc">Develop the necessary
                        human, technical, and Agile
                        skills required to become a
                        successful business analyst.
                        Learn how to identify a root
                        cause, gather requirements,
                        gain stakeholder endorsement,
                        and segment work for
                        interdisciplinary teams. </div>
                    <div class="hero__btn-wrapper">
                        <button class="hero__btn glob__btn glob__btn--red">main button</button>
                        <button class="hero__btn glob__btn glob__btn--common">second button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>