<section class="purpose">
  <div class="content">
    <div class="purpose__row">
      <div class="purpose__main">
        <h2 class="purpose__title">
          Why <span class="red-txt">study</span> Business Analyst
        </h2>

        <div class="purpose__main-txt">
          <p class="purpose__paragraph">Today, the role of a business analyst is vital in powering any successful
            digital business. Bringing broad and enduring value, business analysts
            translate business needs into the right buildable solutions and processes.
          </p>
          <p class="purpose__paragraph">Our Business Analyst course will provide you an immersed experience in
            responding to an in-depth scenario that follows each stage of the business
            analysis lifecycle. You’ll learn the key transferable skills required by a
            valuable business analyst which are causation, facilitation, problem solving,
            work breakdown, and adaptive communication.
          </p>
          <p class="purpose__paragraph">Importantly, you’ll gain universal technical skills in requirements gathering,
            process mapping, and user story writing. Simulating common real-life
            situations that require problem-solving, you’ll also learn how to update
            process maps based on changed requirements and review non-functional
            requirements. By the end of this course, you’ll present your findings through
            a stakeholder presentation and video for your final, scenario-based project. </p>
        </div>
      </div>
      <div class="purpose__img-wrapper">
        <span>
          text
        </span>
        <img src="img/home.jpg" alt="" class="purpose__img">
      </div>
      <div class="purpose__statistic-left">
        <div class="purpose__statistic-txt">
          According to a 2018 survey by <span class="red-txt">ZDNet</span>,
          70% of organisations undertaking digital
          transformations are driving an increased
          need for business analysts, with growth
          expected to increase by 20% over the next
          five years.
        </div>
        <div class="purpose__date">(SEEK CAREER GUIDE, 2021)</div>
      </div>
      <div class="purpose__statistic-right">
        <div class="purpose__statistic-txt">
          Over <span class="red-txt">13,000</span> business analyst and related
          roles available in the industry.
        </div>
        <div class="purpose__date">(SEEK, MAY 10, 2021)</div>
      </div>

    </div>
  </div>
</section>