<section class="remote">
    <div class="content">
        <div class="remote__row">
            <div class="remote__header remote__side-padding">
                <h2 class="remote__title">How <span class="red-txt">online</span> learning works</h2>
                <div class="remote__desc">
                    This is a basic breakdown of how your course
                    works.
                    You can always find more information
                    at <a href="#" class="remote__desc-link">online.rmit.edu.au</a>
                </div>
            </div>
            <div class="remote__body">
                <div class="remote__img">
                   <!-- <img src="img/remote.jpg" alt="Academy" class="remote__img">-->
                </div>
                <div class="remote__cards remote__side-padding">
                    <div class="remote__card">
                        <div class="remote__card-title">Before the course starts </div>
                        <div class="remote__card-txt">
                            <p class="remote__card-paragraph">Before we get cracking, you’ll need access to a computer
                                with broadband connection. Any 64-bit operating system with at least 8GB of RAM should
                                work.
                            </p>
                            <p class="remote__card-paragraph">We’ll help you install any software you might need, but
                                in the meantime, download Slack and Zoom, and make sure your webcam and speakers are
                                working.
                            </p>
                        </div>
                    </div>
                    <div class="remote__card">
                        <div class="remote__card-title">During the course</div>
                        <div class="remote__card-txt">
                            <p class="remote__card-paragraph">
                                A lot of your RMIT Online Future Skills course will consist of video snippets. You
                                can watch these whenever you like. There are also regular interactive webinars,
                                online forums to chat with your peers and a scheduled 1:1 session with your
                                industry mentor.
                            </p>
                            <p class="remote__card-paragraph">
                                We’ll set up Slack channels so you can connect with your classmates and grow
                                your professional network. You can also reach out to your Course Manager if you
                                ever need help.
                            </p>
                        </div>
                    </div>
                    <div class="remote__card">
                        <div class="remote__card-title">Tools</div>
                        <div class="remote__card-txt">
                            <ul class="remote__list">
                                <li class="remote__item">Video lectures</li>
                                <li class="remote__item">1:1 mentor session</li>
                                <li class="remote__item">Webinars</li>
                                <li class="remote__item">Slack channels and forums</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>