<section class="support">
  <div class="content__outer">
  <div class="content">
    <div class="support__row">
      <div class="support__header">
        <h2 class="support__title">
          Who’s <span class="red-txt">supporting</span> you
        </h2>
        <div class="redline-wrapper support__redline">
          <div class="redline"></div>
        </div>
      </div>
      <div class="support__body">
        <div class="support__main-txt">
          <div class="support__desc">
            Just because it’s online, doesn’t mean you’re on your own.
            RMIT Online’s support network includes 1:1 feedback from our
            industry mentors, real-world insights, and study support from our
            learner success team. Here are those who may be part of your
            support team, ready to help you every step of the way.
          </div>
          <div class="support__companies">
            <div class="support__cmp-redline"></div>
            <div class="support__cmp">
              <div class="support__cmp-img-wrapper">
                <img src="img/cmp-1.png" alt="Accenture" class="support__cmp-img">
              </div>
              <div class="support__cmp-desc">
                Accenture is a leading global professional
                services company, providing a broad range of services and solutions in strategy, consulting,
                digital, technology, and operations. Working at
                the intersection of business and technology,
                Accenture helps clients improve their
                performance and create sustainable value for
                their stakeholders.
              </div>
            </div>
            <div class="support__cmp">
              <div class="support__cmp-img-wrapper">
                <img src="img/cmp-2.png" alt="REA group" class="support__cmp-img">
              </div>
              <div class="support__cmp-desc">
                The REA group is a global online real estate
                company, aiming to help customers will all
                aspects of their property experience – not
                just buying, selling, and renting.
              </div>
            </div>
          </div>
        </div>
        <div class="support__experts">
          <div class="support__expert">
            <div class="support__img-wrapper">
              <img src="img/profile.jpg" alt="expert's avatar" class="support__img">
            </div>
            <div class="support__txt">
              <div class="support__profile-header">
                <div class="support__name">Sarah Hunter-Neale</div>
                <div class="support__position">Subject matter expert</div>
              </div>
              <div class="support__profile-desc">
                <div class="support__profile-txt">
                  RMIT Online has built our courses in partnership with industry,
                  providing you with the latest industry insights and best
                  practices from the real world of work. Our subject matter
                  experts on this course include people like Sarah Hunter-Neale.
                  Sarah is a delivery manager in one of the consumer tribes at
                  REA Group, with over 14 years’ experience working at this
                  Australian grown ASX listed company. Sarah specialises in
                  working with agile delivery teams, building out new digital
                  products, providing digital solutions for both front end and
                  backend systems.
                  <button class="support__hide-txt">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 11L6 6L1 1" stroke="#AB242F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 11L6 6L1 1" stroke="#AB242F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="support__coach">
            <div class="support__coach-card">
              <div class="support__img-wrapper">
                <img src="img/profile2.jpg" alt="coach's avatar" class="support__img">
              </div>
              <div class="support__txt">
                <div class="support__profile-header">
                  <div class="support__name">Learner success team</div>
                </div>
                <div class="support__profile-desc">
                  Our learner success team are here to help you with 1:1
                  coaching, tips on how to successfully study online, and any
                  questions or concerns you may have.
                </div>
              </div>
            </div>
            <div class="support__bottom-redline"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>