.hero__btn {

}

.glob__btn {
  background-color: unset;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

}

.glob__btn--red {
  background-color: #AB242F;
  transition: background-color .3s ease-in-out;

  &:hover{
    background-color: #b92834;
  }
  &:active{
    box-shadow: -1px -4px 60px 1px rgba(0,0,0,0.75) inset;
  }
}
.glob__btn--common{
  border: 1px solid #BBBBBB;
  transition: .3s ease-in-out;

  &:hover{
    box-shadow: 0px -2px 33px -15px rgba(0,0,0,0.75);
  }

  &:active{
    box-shadow: 16px 12px 33px -15px rgba(0,0,0,0.75);
  }
  @include breakpoint(sm){
      color:black;
  }
  @include breakpoint(xs38){
    color:#fff;
  }
}
