.academy {
  background: #f8f8f8;
  padding:184px 0;

  @include breakpoint(lg){
    padding: 150px 25px;
  }

  @include breakpoint(md){
    padding: 120px 15px;
  }

  @include breakpoint(sm){
    padding: 128px 15px 64px;
  }

  &__row {
    display:flex;
    flex-direction: column;
    row-gap: 72px;

    @include breakpoint(lg){
      row-gap: 60px;
    }
    @include breakpoint(md){
      row-gap: 45px;
    }
    @include breakpoint(sm){
      row-gap: 24px;
    }
  }

  &__header {
    display: flex;
    column-gap: 78px;
    align-items: center;

    @include breakpoint(lg){
      column-gap: 42px;
    }
    @include breakpoint(md){
      flex-direction: column;
      align-items: unset;
      row-gap: 40px;
    }
  }

  &__title {
  }

  .red-txt {
  }

  &__desc {
    max-width: 455px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;

    @include breakpoint(lg){
      width: 50%;
    }
    @include breakpoint(md){
      width: 100%;
      max-width: unset;
    }
  }

  &__body {
    display: flex;
    column-gap: 18px;

    @include breakpoint(md){
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__col--left {
    max-width: 425px;
    row-gap: 40px;

    @include breakpoint(md){
      max-width: unset;
    }
  }
  &__col--right {
    max-width: 625px;
    justify-content: space-between;
    row-gap: 32px;
    margin: 0 auto;
    @include breakpoint(md){
      max-width: unset;
      margin: unset;
      row-gap: 40px;
    }
  }

  &__card {
    display: flex;
  }

  &__img-wrapper {
    min-width: 55px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-right: 24px;

    @include breakpoint(xs38){
      margin-right: 12px;
    }
  }

  &__card-img {
    mix-blend-mode:darken;
  }

  &__txt-content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #1D1C1A;
  }

  &__card-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
  }

  &__col-wrapper{
    margin: 0 auto;
  }
}