.advantages {
  background-color: #f8f8f8;
  padding-top: 184px;

  .content__outer{
    position: relative;
  }

  @include breakpoint(md){
    padding-top: 128px;
  }

  &__row {
    //position: relative;
  }
  &__title{
    line-height: 1;
  }

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 577px;

    @include breakpoint(lg){
      display: flex;
    }
  }
  &__redline{
    @include breakpoint(lg){
      display: none;
    }
  }
  &__bottom-rd-wrapper{
    display: none;
    @include breakpoint(lg){
      margin: 48px 0 8px;
      display: block;
      width: 100%;
      height: 2px;
      position: relative;
    }
  }
  &__bottom-redline{
    width:70%;
    height: 2px;
    background-color: #b92834;
    position: absolute;
    right: 0;
  }
  &__details-bg{
    background: linear-gradient(0deg, rgba(29, 28, 26, 0.6), rgba(29, 28, 26, 0.6)), url("../img/advantage-1.jpg");
    //background-image: url("../img/advantage-1.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    filter: grayscale(1);
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 577px;

    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
      //row-gap: 48px;
    }
  }

  &__general {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 40px;
    margin-right: 72px;

    @include breakpoint(lg){
      margin-right: 0;
    }
  }

  &__main-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: inline-block;
    color: #2B2B2B;

  }

  &__categories {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__cat-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2B2B2B;
  }

  &__bold-txt {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1D1C1A;
  }

  &__details {
    //color: white;
    //padding:52px 10px 128px 51px;
    //margin:52px 10px 128px 51px;

    @include breakpoint(lg){
      max-width: unset;

    }
  }
  &__details-content{
    padding:52px 10px 128px 51px;
    position: relative;

    @include breakpoint(lg){
      padding: 48px 25px;

    }
    @include breakpoint(md){
      padding: 48px 15px;
    }

  }

  &__details-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;

  }

  &__details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 24px;

    @include breakpoint(xs38){
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__details-commitment {
  }

  &__card {
  }
  &__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;

    @include breakpoint(xs38){
      row-gap: 16px;
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__card-body {
    @extend .advantages__card-title;
    font-weight: 400;
  }

  &__details-price {
  }

  &__details-level {
  }

  &__details-enrolment {
  }

  &__methods {
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 40px;
    margin-top: 40px;
  }


}