.choice {
  padding-bottom: 184px;


  @include breakpoint(md){
    padding-bottom: 128px;
  }
  .content__outer{
    position: relative;
    //position: relative;
  }
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display:grid;
    grid-template-columns: 1fr 577px;

    @include breakpoint(lg){
      display: flex;
    }
  }

  &__img-block {

    @include breakpoint(lg){
      display: none;
    }
  }

  &__img {
    background: linear-gradient(270deg, #2B2B2B -15.48%, rgba(43, 43, 43, 0) 35.57%), url("../img/advantage-2.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    left: 0;
    filter: grayscale(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__title {

  }

  &__title--left {
    position: relative;
    top: 184px;

    @include breakpoint(max){
      top: calc(100vw / 6.91);
    }

    h2{
      position: absolute;
      right: 15px;
      display: inline-block;
      color:#fff;
    }
  }
  &__title-lg{
   display: none;

    @include breakpoint(lg){
      display: block;
      margin-bottom: 40px;
      margin-top: 184px;
    }
    @include breakpoint(md){
      margin-top: 128px;
    }
  }
  &__img-title {

  }

  &__skills {
    position: relative;
  }

  &__title--right {
    position: absolute;
    left: 11px;
    top: 184px;
    @include breakpoint(max){
      top: calc(100vw / 6.91);
    }
    @include breakpoint(lg){
      display: none;
    }
  }

  &__title-plug {
  }

  &__txt {
    padding:290px 0 0 62px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include breakpoint(lg){
      padding: 0;
    }
  }

  &__paragraph {

    &:last-child{
      font-weight: 500;
    }
  }

  &__cards {
    display: flex;
    column-gap: 24px;
    margin-top: 71px;

    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 24px;
    }
    @include breakpoint(md){
      row-gap: 16px;
      margin-top: 68px;
    }
    @include breakpoint(sm){
      row-gap: 8px;
    }
  }

  &__card {
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 40px 40px 48px;

    &:first-child{
      flex-basis: calc(100vw / 4.24);
    }
    &:nth-child(2){
      flex-basis: calc(100vw / 2.465);
    }
    &:last-child{
      flex-basis: calc(100vw / 3.11);
      .choice__card-list{
        margin-top: 14px;
      }

    }
    @include breakpoint(lg){
      background-color: #2b2b2b;
      padding:32px 25px 40px;

      &:nth-child(-n + 3){
        flex-basis: unset;
      }
    }
    @include breakpoint(md){
      padding:32px 15px 40px;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1D1C1A;

    @include breakpoint(lg){
      color:#fff;
    }
  }

  &__card-body {
  }

  &__card-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;

    @include breakpoint(lg){
      color:#BBBBBB;
    }
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__card-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
    display: flex;

    @include breakpoint(lg){
      color: #BBBBBB;
    }


  }
  .choice__item-marker{
    display: inline-block;
    &:before{
      content: "•";
      margin-right: 10px;
    }
  }
  .choice__item-txt{
    display: inline-block;
  }
}