.dark {
  background-color: #1D1C1A;
  padding:140px 0;

  @include breakpoint(lg){
    padding: 140px 25px;
  }
  @include breakpoint(md){
    padding: 140px 25px;
  }
  @include breakpoint(sm){
    padding: 272px 25px;
  }
  @include breakpoint(xl){
    padding: 220px 25px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__title {
    text-align: center;
    color:#fff;
    max-width: 750px;
    margin: 0 auto;
  }

  &__btn {
    //width: fit-content;
    margin: 0 auto;
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .glob__btn {
  }

  .glob__btn--red {
  }
}