.education{
  padding:184px 0;

  .content__outer{
    position: relative;
  }
  @include breakpoint(md){
    padding:128px 0;
  }

  &__header{
    display: flex;
    align-items: center;
    column-gap: 148px;
    margin-bottom: 40px;

    @include breakpoint(lg){
      column-gap: 70px;
      padding-left: 25px;
    }
    @include breakpoint(md){
      padding-left: 15px;
    }
    @include breakpoint(sm){
      padding:0 15px;
    }

  }

/*  &__education-wrapper{
    width: 100%;
    position: relative;

  }*/

/*  &__redline{
    position: absolute;
    background-color: red;
    height: 2px;
    width: 100%;
  }
  &__redline-wrapper{
    @include breakpoint(md){
      display: none;
    }
  }*/

  .education__row {
  }

  .education__title {
  }

  .education__accordion {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .education__btn {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: start;
    column-gap: 4px;
    padding:24px;
    position: relative;
    height: fit-content;
    margin-right: 24px;
    max-width: 516px;
    width: 100%;
    transition: background-color .3s ease-in-out;

    &:hover{
      background-color: #e1e1e1;
    }

    @include breakpoint(md){
      max-width: unset;
      padding:24px;
      margin-right: 0;
    }
    @include breakpoint(xs38){
      padding: 15px 15px;
    }
  }
  &__accordion-item{
    position: relative;
    display: flex;

    &.active{

      .education__panel-wrapper{
        opacity: 1;

        @include breakpoint(md){
          //max-height: fit-content;
        }
      }

      .education__btn{

        background-color: #2b2b2b;

        .education__btn-title{
          color:#fff;
        }
        .education__btn-txt{
          color: #fff;
        }
        .education__arrow{
          opacity: 1;
          z-index: 1;
          right: -56px;
        }

        @include breakpoint(md){
          .education__arrow{
            bottom: -44px;
            right: 15px;
            background: #1D1C1A;
            border-radius: 0 36px 36px 0;
            top: unset;
            transform:rotate(90deg) translate(0,0);
          }
        }
      }
      row-gap: 8px;
    }


    @include breakpoint(md){
      flex-direction: column;

    }
  }
  &__arrow{
    width: 56px;
    height: 56px;
    background: #2b2b2b;
    border-radius: 0 36px 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 50%;
    transform:translateY(-50%);
    opacity: 0;
    right: 0;

    @include breakpoint(md){

      //top: unset;
      border-radius: 25px;
      background: #BBBBBB;
      width: 44px;
      height: 44px;
      right: 15px;
      opacity: 1;
      transform: rotate(90deg) translate(-50%, 0);
    }
  }

  .education__btn-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #2B2B2B;

    @include breakpoint(md){
      padding-right: 60px;
    }
  }

  .education__btn-txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #2B2B2B;
    text-align: start;
    @include breakpoint(md){
      padding-right: 60px;
    }
  }

  .education__panel {
    width: 100%;
    position: absolute;

    @include breakpoint(md){
      position: relative;
    }
  }
  &__panel-wrapper{
    position: relative;
    max-width: 568px;
    width: 100%;
    opacity: 0;
    transition: opacity .2s ease-in-out, max-height .3s ease-in-out;

    /*&.active{
      opacity: 1;
    }*/
    
    @include breakpoint(md){
      opacity: 1;
      max-height: 0;
      max-width: unset;
      overflow: hidden;
    }
  }

  .education__panel-body {
    background: #EEEEEE;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
    padding:32px 64px;

  }

  .education__panel-list {
  }

  .education__panel-item {

   /* @include breakpoint(md){
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }*/
  }

  .education__panel-footer {
    background: #AB242F;
    padding:24px 24px 24px 64px;
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }
}

