.enrolment {

  background: linear-gradient(0deg,rgba(29,28,26,.8),rgba(29,28,26,.8)), url("../img/enroll.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 184px 0;

  @include breakpoint(md){
    padding:128px 0 84px;
  }

  &__row {
    position: relative;
    @include breakpoint(md){
      padding-bottom: 220px;
    }
    @include breakpoint(sm){
      padding-bottom: 350px;
    }
    @include breakpoint(xs38){
      padding-bottom: 380px;
    }
  }

  &__txt {
    position: relative;
    z-index: 1;
    margin-left: 216px;
    @include breakpoint(lg){
      padding-left: 25px;
      padding-right: 25px;
      //margin-left: ;
      margin-left: 0;
    }
    @include breakpoint(md){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    color:#fff;
  }

  &__desc {
    margin:40px 0 24px;
    max-width: 408px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #EEEEEE;

  }

  &__btn {
    height: 40px;
    width: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__images {
    position: absolute;
    width: 347px;
    height: 259px;
    top: 0;
    right: 194px;
    //right: calc(100vw / 6.55);

    @include breakpoint(lg12){
      right: calc(100vw/15);
    }
    @include breakpoint(md){
      right: 0;
      bottom: 0;
      top: unset;
    }
    @include breakpoint(xs38){
      width: calc(100vw/1.095);
    }
  }

  .enroll__global-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    position: absolute;
  }

  &__img-big {
    @extend .enroll__global-img;
    background-image: url("../img/enroll-bg-big.jpg");
    width: 208px;
    height: 208px;
    top: 0;
    right: 0;
    @include breakpoint(xs38){
      width: calc(100vw / 1.74);
      height: calc(100vw / 1.74);
    }
  }

  &__img-small {
    @extend .enroll__global-img;
    background-image: url("../img/enroll-bg-small.jpg");
    width: 113px;
    height: 113px;
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;

    @include breakpoint(xs38){
      width: calc(100vw / 3.36);
      height: calc(100vw / 3.36);
    }

  }

/*  &__img-small {
    @extend .enrolment__img-big;
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;
  }*/
}