.purpose {
  padding:184px 0;

  @include breakpoint(lg){
    padding:184px 25px;
  }
  @include breakpoint(md){
    padding: 120px 15px;
  }
  @include breakpoint(sm){
    padding-top: 300px;
  }
  @include breakpoint(xs38){
    padding-top: 200px;
  }

  .purpose__row {
    display: grid;
    grid-template-columns: 1fr 408px;
    //grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "major image"
                         "left right";
    row-gap:96px;
    column-gap: 132px;
    position: relative;

    @include breakpoint(lg12){
      row-gap: 60px;
      column-gap: 90px;
    }
    @include breakpoint(lg){
      display: flex;
      flex-direction: column;
    }
    @include breakpoint(md){
      row-gap: 40px;
    }
  }

  .purpose__main {
    grid-area: major;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 140%;
    color: #2B2B2B;

  }
  .purpose__main-txt{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
    row-gap: 16px;
  }

  .purpose__title {
    margin-bottom: 40px;
    position: relative;

    @include breakpoint(sm){
      line-height: 1.4;
    }
  }

  .red-txt {
  }

  .purpose__paragraph {
  }

  .purpose__img-wrapper {

    //display: none;
    grid-area: image;
    position: relative;
    width: 528px;
    height: 394px;
    filter: grayscale(100%);
    overflow: hidden;

    img{
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
    }

    @include breakpoint(lg){
      margin: 0 auto;
    }

    @include breakpoint(sm){
      width: 100%;
      height: 100%;
      overflow: unset;

      img{
        position: unset;
        top: 0;
        left: 0;
        transform: unset;
      }
    }
  }

  .purpose__statistic-left {
    grid-area: left;
  }

  .purpose__statistic-txt {
    grid-area: right;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #1D1C1A;

  }


  .purpose__statistic-left, .purpose__statistic-right{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

  }

  .purpose__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #2B2B2B;
  }

  .purpose__statistic-right {
  }
}