.remote {

  padding-bottom: 186px;

  @include breakpoint(md){
    padding-bottom: 128px;
  }

  &__row {
  }

  &__header {
    align-items: center;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    margin-bottom: 56px;

    @include breakpoint(md){
      flex-direction: column;
      row-gap: 40px;
      margin-bottom: 40px;
      align-items: start;
    }
    @include breakpoint(xs38){
      margin-bottom: 16px;
    }

  }

  &__side-padding {
    @include breakpoint(lg){
      padding-right: 25px;
      padding-left: 25px;
    }
    @include breakpoint(md){
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__title {
    max-width: 620px;
    @include breakpoint(lg){
      flex:1;
      max-width: 100%;
    }
  }

  .red-txt {
  }

  &__desc {
    max-width: 455px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
    &-link {
      color: #2B2B2B;
      text-decoration-line: underline;
      
      &:visited{
        color:#2b2b2b;
      }
    }

    @include breakpoint(lg){
      flex:1;
      max-width: 100%;
    }
  }



  &__body {
  }

  &__img {
    background-image: url("../img/remote.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 56px;

    @include breakpoint(lg){
      height: 250px;
      background-position-x: 80%;
    }
    @include breakpoint(md){
      height: 200px;
    }
    @include breakpoint(xs38){
      height: 175px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
    row-gap: 56px;

    @include breakpoint(md){
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &:first-child{
      flex-basis: 32%;
    }
    &:nth-child(2){
      flex-basis: 39%;
    }
    &:last-child{
      flex-basis: 19%;
    }
    @include breakpoint(md){
      row-gap: 16px;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1D1C1A;
  }

  &__card-txt {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__card-paragraph {
  }

  &__list {
    //list-style-type: disc;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__item {

    &:before{
      content: '•';
      margin-right: 8px;
    }
  }
}