.support {

  .content__outer{
    position: relative;
  }

  padding:184px 0;

  @include breakpoint(lg){
    padding: 150px 25px;
  }

  @include breakpoint(md){
    padding: 120px 15px;
  }
  &__row {
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 170px;
    margin-bottom: 40px;
  }

  &__title {
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 96px;

    @include breakpoint(md){
      row-gap: 64px;
    }
  }
  &__main-txt{
    display: flex;
    column-gap: 25px;
    justify-content: space-between;

    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: space-between;

  }

  &__desc {
    max-width: 410px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2B2B2B;

    @include breakpoint(lg){
      max-width: 100%;
    }
  }

  &__companies {
    max-width: 732px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include breakpoint(lg){
      max-width: 100%;
    }
    @include breakpoint(md){
      row-gap: 24px;
    }
  }

  &__cmp {
    display: flex;
    column-gap: 48px;

    @include breakpoint(lg){
      column-gap: 32px;
    }
    @include breakpoint(md){
      column-gap: 24px;
    }
    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__cmp-img-wrapper {
    width: 95px;
    min-width: 95px;


  }

  &__cmp-img {

  }

  &__cmp-desc {
    max-width: 590px;

    @include breakpoint(lg){
      max-width: 100%;
    }
  }

  &__experts {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    column-gap: 60px;
    //column-gap: 20px;

    @include breakpoint(lg12){
      column-gap: 70px;
    }
    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 40px;
      margin-left: 40px;
    }
    @include breakpoint(md){
      row-gap: 24px;
      margin-left: 16px;
    }

  }

  &__expert {
    max-width: 671px;

    @include breakpoint(lg12){
      flex: 1;
    }
    @include breakpoint(lg){
      max-width: 100%;
    }
  }

  &__img-wrapper {
    width: 108px;
    height: 108px;
    overflow: hidden;
    //position: relative;
    border-radius: 50%;
    position: absolute;
    left: -60px;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      object-fit: cover;
      transform:translate(-50%, -50%);
    }

    @include breakpoint(lg){
      width: 90px;
      height: 90px;
      //top: 50%;
      //transform: translateY(-50%);
      left: -40px;
    }
    @include breakpoint(md){
      width: 64px;
      height: 64px;
      left: -16px;
    }
  }

  &__img {
  }
  .redline-wrapper{
    @include breakpoint(lg){
      display: none;
    }
  }
  &__cmp-redline{
    display: none;

    @include breakpoint(lg){
      display: block;
      width: 100%;
      height: 2px;
      background-color: #AB242F;
      margin-bottom: 40px;
    }
  }

  &__profile-header {
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #1D1C1A;
  }

  &__position {
    margin-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2B2B2B;
  }

  &__profile-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #2B2B2B;
  }
  &__profile-txt{
    position: relative;
    @include breakpoint(sm){
      font-size: 14px;
      line-height:1.4em;
      max-height:12.6em;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 9;
      line-clamp: 9;
      -webkit-box-orient: vertical;
      display: block;
      transition: max-height 0.5s ease-in-out;
    }
  }

  &__hide-txt{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;

    @include breakpoint(sm){
      cursor:pointer;
      display:flex;
      justify-content: center;
      align-items:center;
      height: 1.4em;
      background:unset;
      transform:rotate(90deg);

      &.active{
        transform:rotate(-90deg);
      }
    }
  }

  &__coach {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(lg){
      max-width: 100%;
    }
  }

  &__coach-card {
  }

  &__bottom-redline {
    width: 100%;
    height: 2px;
    background-color: #AB242F;

    @include breakpoint(lg){
      display: none;
    }
  }
  &__expert, &__coach-card{
    padding:32px 32px 32px 72px;
    background-color: #EEEEEE;
    position: relative;
  }
}